streamlit
requests
pandas
numpy<2.0
altair
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
langchain-groq
langchain-huggingface
langchain-cohere
yfinance
pandas-ta
pydantic
beautifulsoup4
lxml